{% extends "w3/base2.html" %}

{% block header %}
<div id="mycarousel" class="carousel slide" data-ride="carousel">

    <!--indicators-->
    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
        <li data-target="#mycarousel" data-slide-to="4"></li>
        <li data-target="#mycarousel" data-slide-to="5"></li>
        <li data-target="#mycarousel" data-slide-to="6"></li>
        <li data-target="#mycarousel" data-slide-to="7"></li>
    </ol>
    <!--slides-->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
            <div class="carousel-caption">
                <h3>Hutch - Wohnzimmer Schrank</h3>
                <p>Height 76", Width 61", Depth 25"</p>
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide2"></div>
            <div class="carousel-caption">
                <!--<h1 style="background-color: white; color:black;">Company
                 Selector</h1>-->
                <!--<h4 style="background-color: white; color:black;">Add
                companies by industry and location
                (region/state)</h4>-->
                <h3 style="background-color: white; color:black;">Painted
                    wood arm chair (two)</h3>
                <p style="background-color: white; color:black;">Height 32",
                    Seat width 22", Depth 19")</p>
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide3"></div>
            <div class="carousel-caption">
                <h3 style="background-color: white; color:black;">Painted
                    wood chair (three)</h3>
                <p style="background-color: white; color:black;">Height 37",
                    Seat width 22", Depth 19")</p>
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide4"></div>
            <div class="carousel-caption">
                <h3 style="background-color: white; color:black;">Basin
                    table / Dressing und Waschtisch</h3>
                <p style="background-color: white; color:black;">Height 30",
                    Width 26", Depth 16"</p>
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide5"></div>
            <div class="carousel-caption">
                <h3 style="background-color: white; color:black;">Wall rack</h3>
                <p style="background-color: white; color:black;">Height 48",
                    Width 49"</p>
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide6"></div>
            <div class="carousel-caption">
                <h3 style="background-color: white; color:black;">Corner
                    cabinet / Eckschrank</h3>
                <p style="background-color: white; color:black;">Height 87",
                    Front width 35"</p>
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide7"></div>
            <div class="carousel-caption">
                <h3 style="background-color: white; color:black;">Pendulum Clock &
                    Stand</h3>
                <p style="background-color: white; color:black;">Height 78",
                    width 17, deep 13"</p>
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide8"></div>
            <div class="carousel-caption">
                <h3 style="background-color: white; color:black;">Firewood
                    bench</h3>
                <p style="background-color: white; color:black;">Height 36",
                    width 51, seat depth 17"</p>
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
    </div>
    <!--controls-->
    <a class="left carousel-control" href="#mycarousel" data-slide="prev">

        <span class="glyphicon glyphicon-chevron-left"></span>

    </a> <a class="right carousel-control" href="#mycarousel"
            data-slide="next">

        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

{% endblock header %}

{% block content %}
<div class="container">
    <h2><strong>For Sale:</strong></h2>
    <h2><strong>18th century Central Germany Cottage Furniture</strong></h2>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h2><strong>Cabinets</strong></h2>
            <ul>
                <li><h4>Hutch</h4></li>
                <li><h4>Corner cabinet</h4></li>
                <li><h4>Table w/basin</h4></li>
                <li><h4>Bench w/storage</h4></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h2><strong>Chairs</strong></h2>
            <ul>
                <li><h4>(2) Arm chairs</h4></li>
                <li><h4>(3) Chairs</h4></li>
            </ul>
        </div>
        <div class="clearfix visible-md"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h2><strong>Displays:</strong></h2>
            <ul>
                <li><h4>Pendulum clock &amp; stand</h4></li>
                <li><h4>Wall rack</h4></li>
            </ul>
            <p>&nbsp;</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h2><strong>Metalware</strong></h2>
            <ul>
                <li><h4>Antique pots</h4></li>
                <li><h4>Decorative pewter (modern &amp; antique)</h4></li>
                <li><h4>Pewter plates & bowls</h4></li>
            </ul>
        </div>
        <div class="clearfix visible-lg"></div>
    </div>
</div>
{% endblock content %}